body {
    background-color: #08101e;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden; 
}

a{
    padding: 20px;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    position: relative;
    left: 700px;
    padding-top: 20px;
}
p{
     font-size: 16px;

    color: #cccccc;
   
    
}
h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}
.lorem {
    top: 230px;
    position: relative;
    left: 450px;
}

.but1{position: relative; 
    background-color: #3b69c7; 
    color: white; 
padding-top: 2px;
padding-bottom: 2px;
    padding-left: 50px;
    padding-right: 50px;
     height: 50px;
      border-radius: 15px; 
     left: 450px; 
    }

.img1{

    margin-left: 800px; 
    margin-top: -45px;
    height: 330px;
}