
body {
    background-color: #08101e;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden; 

}

a{
    padding: 20px;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    position: relative;
    left: 700px;
    padding-top: 20px;
}
p{
     font-size: 16px;

    color: #cccccc;
   
    
}
h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}
.lorem {
    top: 230px;
    position: relative;
    left: 450px;
}

.but1{position: relative; 
    background-color: #3b69c7; 
    color: white; 
padding-top: 2px;
padding-bottom: 2px;
    padding-left: 50px;
    padding-right: 50px;
     height: 50px;
      border-radius: 15px; 
     left: 450px; 
    }

.img1{

    margin-left: 800px; 
    margin-top: -45px;
    height: 330px;
}
.divi1{
    
    letter-spacing: 0%;
 
   border-radius: 10px;
   background-color: #1c2e4d;}
.grid{display: flex;
justify-content: center;
gap: 20px;}
.divi2{
  
    letter-spacing: 0%;
    
   border-radius: 10px;
   background-color: #1c2e4d;
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 4;}
   .DRI{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-column-gap:30px ;
    grid-row-gap:30px ;
   }
   .cont_DRI{
    width: 1000px;
    margin-left: 25%;

   }

   .img_col{
    top: 30px;width: 306px;height: 302px;  left: 132px;padding-left: 110px;margin-left: 100px;
   }


   .img_mal_col{top: 30px;width: 90px;height: 103px;  left: 132px;padding-left: 110px;}

.h2_col{font-size: 25px;font-family: Open Sans;color: #afa9a9;text-align: center; font-weight: 900;padding-left: 20px;padding-right: 20px;}

.p_col{font-size: 16px; line-height: 170%;text-align: center;font-family:Open Sans;font-weight: 600;letter-spacing: 0%; padding: 20px;}

.p_col_min{font-size: 16px; line-height: 170%;text-align: center;font-family:Open Sans;font-weight: 600;letter-spacing: 0%; padding-left: 20px;padding-right: 20px;}

